{% extends 'ATMCompetitionBundle:Admin:base.html.twig' %}

{% block atm_competition_menu %}{% endblock atm_competition_menu %}

{% block atm_competition_content %}
    <div class="wide contestant_details">
        <div class="quarter">
            {% for image in contestant.images %}
                {% if image.isMain %}
                    <img src="{{ asset(image.path) }}">
                {% endif %}
            {% endfor %}
            <span>{{ contestant.name | title }}</span>
            {% if app.user %}
                <a class="but red vote" href="{{ path('atm_competition_user_vote',{ 'contestantId':contestant.id }) }}">Vote</a>
            {% else %}
                <a class="but red vote btnPopVote" data-contestant-id="{{ contestant.id }}">Vote</a>
            {% endif %}
        </div>
        <div class="threequarter">
            {% for image in contestant.images %}
                {% if not image.isMain %}
                    <img class="quarter" src="{{ asset(image.path) }}">
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}