{% extends 'MMFrontendBundle:www.%sitename%:base.html.twig' %}

{% block title %}{{ competition.name }} Competition - BikiniFanatics{% endblock title %}
{% block meta_description %}{{ competition.rules | striptags }}{% endblock meta_description %}
{% block meta_keywords %}{{ app.user ? 'members only, member area' : 'Competion, bikini contest' }}{% endblock meta_keywords %}

{% block twitter_metas %}
    <meta property="twitter:url" content="{{ app.request.uri }}">
    <meta property="twitter:title" content="{{ competition.name }} Competition - BikiniFanatics">
    <meta property="twitter:description" content="{{ competition.rules | striptags }}">
    <meta property="twitter:image" content="{{ asset(competition.image) }}">

    <meta property="og:type" content="{{ app.request.uri }}">
    <meta property="og:title" content="{{ competition.name }} Competition - BikiniFanatics">
    <meta property="og:description" content="{{ competition.rules | striptags }}">
    <meta property="og:image" content="{{ asset(competition.image) }}">
{% endblock twitter_metas %}

{% block content %}
    <div class="competition_header{% if not app.user %} competition_header_tour{% endif %}">
        <a class="view_all_competitions" href="{{ path(getRoutePrefix() ~ '_competitions') }}" title="View All Competitions"><i class="fas fa-chevron-left"></i> View All Competitions</a>
        <img class="_detectdevice" data-src-desktop="{{ getCDNResource({'media_path': asset(competition.image)}) }}"
             data-src-mobile="{{ getCDNResource({'media_path': asset(competition.imageMobile)}) }}" alt="{{ competition.name }}" />

        <div class="competition_header_overlay">
            <h1>{{ competition.name | title }}</h1>
            <div class="clear"></div>

            {% if ATMCompIsRegisterPeriod(competition.id)%}
                <h3>
                    <b>Starts on:</b><br>
                    <span>{{ competition.initDate | date('F dS, Y (g:ia e)') }}</span>
                </h3>
            {% elseif ATMCompIsCompetitionActive(competition.id)%}
                <h3>
                    <b>Ends on:</b><br>
                    <span>{{ competition.endDate | date('F dS, Y (g:ia e)') }}</span>
                </h3>
            {% elseif ATMCompIsFinished(competition.id) %}
                <h3>
                    <b>Congrats to the Winners!</b><br>
                    <span>Competition ended</span>
                </h3>
            {% else %}
                <h3>
                    <b>Starts on:</b><br>
                    <span>{{ competition.initDate | date('F dS, Y (g:ia e)') }}</span>
                </h3>
            {% endif %}
            <div class="clear"></div>

            {% if app.user and ATMCompIsRegisterPeriod(competition.id) %}
                {% if contestant_role in app.user.roles %}
                    {% if not ATMCompIsContestant(competition.id,app.user.id) %}
                        <a href="{{ path('atm_competition_contestant_join',{ 'competitionId':competition.id }) }}" class="click_here">Join Competition</a>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>

        <div class="competition_inner">
            <div class="competition_left_column">
                <div class="competition_prices">
                    <h2 class="block_title"><i class="fas fa-award"></i> Prizes</h2>
                    {{ competition.prices | raw }}
                </div>
                <div class="clear"></div>
            </div>

            <div class="competition_main_block">
                <div class="competition_rules">
                    <h2 class="block_title"><i class="fas fa-info-circle"></i> Rules</h2>
                    {{ competition.rules | raw }}
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="full_width_block competition_full_width_block">
        <h2 class="block_title"><i class="fas fa-user-circle"></i> Contestants
            {% if app.user and  ATMCompIsRegisterPeriod(competition.id) %}
                {% if contestant_role in app.user.roles %}
                    {% if not ATMCompIsContestant(competition.id,app.user.id) %}
                        <a href="{{ path('atm_competition_contestant_join',{ 'competitionId':competition.id }) }}" class="click_here">Join Competition</a>
                    {% endif %}
                {% endif %}
            {% endif %}
        </h2>
        <div class="clear"></div>

        {{ render(controller('ATMCompetitionBundle:Frontend:searchContestants',{
            'params' : {
                'competition': competition.id,
                'order_by_field': 'votes',
                'order_by_direction': 'ASC'
            }
        })) }}
        <div class="clear"></div>

        {% if not app.user %}
            <div class="tour_join">
                Want to help out your favorite model?<br><a class="click_here" href="{{ path('join_site') }}">Join us now and vote every day!</a>
            </div>
        {% endif %}
    </div>
    {# POPUP BIG IMAGE #}
    <div class="modal fade " id="popImage" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog competition_popup competition_popup_img" role="document">
            <div class="modal-content" style="background: none;">
                <a class="close" data-dismiss="modal" aria-label="Close"><i class="fas fa-times-circle"></i></a>
                <img src="{{ asset(competition.image) }}" id="popContestantBigImage">
            </div>
        </div>
    </div>
    {% include 'MMFrontendBundle:www.%sitename%/popup:atm_competition_vote.html.twig' %}

{% endblock content %}
{% block javascripts %}
    {{ parent() }}
    {% if not app.user %}
        <script>
            var contestantId;
            $('.btnPopVote').click(function(){
                var btn = $(this);
                contestantId = btn.attr('data-contestant-id');
                $('#popVote').modal('show');
            });


            $('#btnVote').click(function (e) {
                e.preventDefault();
                var email = $('#txEmail').val();
                if(email != ''){
                    $.ajax({
                        url: Routing.generate('atm_competition_check_email',{ 'email':email }),
                        type: 'post',
                        success: function(data){
                            if(data == 'ko'){
                                $('#error_msg').show();
                                $('#txEmail').addClass('error');
                            }else{
                                location.href = Routing.generate('atm_competition_anonymous_user_send_mail',{ 'contestantId':contestantId,'email':email });
                            }
                        },
                        error: function(data){
                            $('#error_msg').show();
                            $('#txEmail').addClass('error');
                        }
                    });
                }else{
                    $('#error_msg').show();
                    $('#txEmail').addClass('error');
                }
            });
        </script>
    {% endif %}
    <script>
        $('.btnPopImage').click(function(){
            var btn = $(this);
            var bigImage = btn.attr('data-big-image');
            $('#popContestantBigImage').attr('src',bigImage);
            $('#popImage').modal('show');
        });
        $('#popImage').on('hidden.bs.modal', function (e) {
            $('#popContestantBigImage').attr('src','');
        })
    </script>
{% endblock javascripts %}