{% extends 'ATMCompetitionBundle:Admin:base.html.twig' %}

{% block atm_competition_stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/atmcompetition/css/jquery-ui.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('bundles/atmcompetition/css/jquery-ui.theme.min.css') }}" type="text/css"/>
    <style>
        .ui-state-default{width: 100% !important;text-align: center !important;}
        .fr-view {font-family:"Quicksand", sans-serif !important;}
    </style>
{% endblock atm_competition_stylesheets %}

{% block atm_competition_content %}
    <form action="{{ path('atm_competition_create') }}" method="post" id="frmCompetition" enctype="multipart/form-data">
        <h1>New Competition</h1>
        <div class="half">
            <fieldset>
                {{ form_widget(form.name) }}
            </fieldset>
            <fieldset>
                <legend>Register init date</legend>
                {{ form_widget(form.register_init_date) }}
            </fieldset>
            <fieldset>
                <legend>Register end date</legend>
                {{ form_widget(form.register_end_date) }}
            </fieldset>
            <fieldset>
                <legend>Voting starts</legend>
                {{ form_widget(form.init_date) }}
            </fieldset>
            <fieldset>
                <legend>Voting ends</legend>
                {{ form_widget(form.end_date) }}
            </fieldset>
            <fieldset>
                {{ form_widget(form.prices) }}
            </fieldset>
            <fieldset>
                {{ form_widget(form.rules) }}
            </fieldset>
        </div>
        <div class="half">
            <fieldset>
                <img src="{{ asset('bundles/atmcompetition/images/image-placeholder.png') }}" id="imgPreview">
                <input type="file" name="flImage" id="flImage">
            </fieldset>
        </div>
        <div class="clear"></div>
        <input type="submit" class="but blue" value="Save">
        {{ form_rest(form) }}
    </form>
{% endblock atm_competition_content %}

{% block atm_competition_javascripts %}
    <script src="{{ asset('bundles/atmcompetition/js/jquery-ui.min.1121.js') }}"></script>
    <script>
        $( function() {
            var dateFormat = "dd-mm-yy",
                from = $( "#competition_init_date" )
                    .datepicker({
                        dateFormat: dateFormat,
                        defaultDate: "+1w",
                        changeMonth: true,
                        numberOfMonths: 3
                    }).on( "change", function() {
                        to.datepicker( "option", "minDate", getDate( this ) );
                    }),
                to = $( "#competition_end_date" ).datepicker({
                    dateFormat: dateFormat,
                    defaultDate: "+1w",
                    changeMonth: true,
                    numberOfMonths: 3
                }).on( "change", function() {
                    from.datepicker( "option", "maxDate", getDate( this ) );
                }),
                register_from = $( "#competition_register_init_date" )
                    .datepicker({
                        dateFormat: dateFormat,
                        defaultDate: "+1w",
                        changeMonth: true,
                        numberOfMonths: 3
                    }).on( "change", function() {
                        register_to.datepicker( "option", "minDate", getDate( this ) );
                    }),
                register_to = $( "#competition_register_end_date" ).datepicker({
                    dateFormat: dateFormat,
                    defaultDate: "+1w",
                    changeMonth: true,
                    numberOfMonths: 3
                }).on( "change", function() {
                    register_from.datepicker( "option", "maxDate", getDate( this ) );
                });

            function getDate( element ) {
                var date;
                try {
                    date = $.datepicker.parseDate( dateFormat, element.value );
                } catch( error ) {
                    date = null;
                }

                return date;
            }
        } );

        $('#flImage').on('change', function() {
            var currentInput = $(this);
            var file = currentInput[0].files[0];

            var reader = new FileReader();
            reader.onload = function(e){
                $('#imgPreview').attr('src', e.target.result);
            };
            reader.readAsDataURL(file);
        });
    </script>
{% endblock atm_competition_javascripts %}