{% extends 'ATMCompetitionBundle:Admin:base.html.twig' %}


{% block atm_competition_content %}
    <h1 class="title">Competitions</h1>
    <div class="competitions">
        {% for competition in competitions %}
            {% include 'ATMCompetitionBundle:Competition:item/competition.html.twig' with { 'competition' : competition } %}
        {% endfor %}
        <div class="clear"></div>
        {% if pagination %}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% endif %}
        <div class="clear"></div>
    </div>
{% endblock atm_competition_content %}
