<table>
    <thead>
        <tr>
            <th>Vote date</th>
            <th>Email</th>
            <th>Contestant</th>
        </tr>
    </thead>
    <tbody>
        {% for vote in votes %}
            <tr>
                <td>
                    {{ vote.creationDate | date('d/m/Y') }}
                </td>
                <td>
                    {{ vote.email }}
                </td>
                <td>
                    {{ contestant_name[vote.contestantId] | title }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% if pagination %}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endif %}
<div class="clear"></div>