{% extends 'MMFrontendBundle:www.%sitename%:mail_templates/base.html.twig' %}

{% block username %}{% endblock username %}

{% block main_message %}
    <p style="float:left;display:inline-block;width:100%;margin:0;text-align:left;padding:40px 0 0;font-weight:700;font-size:20px;line-height:30px">
        Thank you for participating in the "{{ competition }}" competition.
    </p>
{% endblock main_message %}

{% block message %}
    <p style="float:left;display:inline-block;width:100%;padding:20px 0;text-align:left;margin:0;">
        In order to submit and confirm your vote please click the link below.<br>
    </p>

    <a style="float:left;padding:10px 20px;border-radius:20px;color:#fff;text-align:center;text-decoration:none;display:inline-block;background:#ff4081" href="{{ vote_link }}">Click Here to vote</a>

    <p style="float:left;display:inline-block;width:100%;margin:0;text-align:left;padding:40px 0 0;font-weight:700;font-size:20px;line-height:30px;color:#ff4081">
        Looking to vote daily?
    </p>

    <p style="float:left;display:inline-block;width:100%;padding:20px 0;text-align:left;margin:0;">
        Become a member of <a style="color:#ff4081" href="https://www.%sitename%" title="%sitename%">%sitename%</a> now and <b>vote every single day</b> for your favourite micro bikini model!
        Special privileges and loads of naughty fun are waiting for you inside the members only area.
    </p>

    <p style="float:left;display:inline-block;width:100%;margin:0;text-align:left;padding:40px 0 0;font-weight:700;font-size:15px;line-height:30px">
        See you soon!!
    </p>

    <a style="float:left;padding:10px 20px;border-radius:20px;color:#fff;text-align:center;text-decoration:none;display:inline-block;background:#ff4081" href="https://www.%sitename%{{ path('join_site') }}" target="_blank">Join us Now!</a>

{% endblock message %}