<div class="competition">
    <img src="{{ asset(competition.image) }}"/><br>
    <a class="competition_edit" href="{{ path('atm_competition_edit',{ 'competitionId':competition.id }) }}" title="Edit Competition"><i class="fa fa-pencil-square"></i></a>
    <a class="competition_delete" href="{{ path('atm_competition_delete',{ 'competitionId':competition.id }) }}" title="Delete Competition"><i class="fa fa-times-rectangle"></i></a>
    <a class="competition_see" target="_blank" href="{{ path('atm_competition_landing',{ 'competitionId':competition.id,'canonical':competition.canonical }) }}" title="See landing page"><i class="fa fa-eye"></i></a>
    <span class="competition_name">{{ competition.name | title }}</span>
    <span>Init date:<em> {{ competition.init_date | date('d/m/Y') }}</em></span>
    <span>End date:<em> {{ competition.end_date | date('d/m/Y') }}</em></span>
</div>