<div class="contestant">
    {% for image in contestant.images %}
        {% if image.isMain %}
            <a href="{{ path('atm_competition_contestant_details',{ 'contestantId':contestant.id }) }}" class="main_image">
                <img src="{{ asset(image.path) }}">
            </a>
        {% endif %}
    {% endfor %}
    <a href="{{ path('atm_competition_contestant_details',{ 'contestantId':contestant.id }) }}" class="name">{{ contestant.name }} {{ ATMCompContestantTotalVotes(contestant.id) }}</a>
    {% if app.user %}
        <a class="but red vote" href="{{ path('atm_competition_user_vote',{ 'contestantId':contestant.id }) }}">Vote</a>
    {% else %}
        <a class="but red vote btnPopVote" data-contestant-id="{{ contestant.id }}">Vote</a>
    {% endif %}
</div>